<!-- Dog Thumb-->
<div class="dog_thumb">
  <img
    width="50%"
    height="50%"
    src="https://th.bing.com/th/id/R.6c101d1e27bdad589f2224c771312bfa?rik=isoNyTjWLe3GCA&riu=http%3a%2f%2fweneedfun.com%2fwp-content%2fuploads%2f2015%2f10%2fCute-puppy-Pictures-29.jpg&ehk=c4Pri2hAYt5j%2b1ZUn%2bq04AcxiTD1gA6Nve6HmotswRE%3d&risl=&pid=ImgRaw&r=0"
    alt="picture of young labrador"
  />
  <!-- Social Info-->
  <h4>Please <a href="/login">Register or Login </a> to view account</h4>

  <div class="social-info">
    <a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
        class="fa fa-twitter"
      ></i></a><a href="#"><i class="fa fa-linkedin"></i></a>
  </div>
</div>

<!-- Furry Friend Details-->
<div class="single_advisor_details_info">
  <h3>Binky</h3>
  <p class="hobby">Loves Swimming!</p>
</div>

{{text}}