<h1>Welcome Back Furrriends!</h1>
<h3>Please Login</h3>
<form class="login-form">
  <div class="from-group">
    <label for="email-login">Email:</label>
    <input type="text" class="form-input" id="email-login" />
  </div>
  <div class="from-group">
    <label for="password-login">Password:</label>
    <input type="password" class="form-input" id="password-login" />
  </div>
  <button class="btn" type="submit">Login</button>
</form>

<a class="returnRegister" href="/register">Go to Register</a><br />
<a class="returnHome" href="/">Return to Homepage</a>

<script src="/js/login.js"></script>