
  <body>
    <h1>💘K9Cupid💘</h1>
      
    <form class="login-form">
      <div class="from-group">
        <label for="email-login">Email:</label>
        <input type="text" class="form-input" id="email-login" />
      </div>
      <div class="from-group">
        <label for="password-login">Password:</label>
        <input type="password" class="form-input" id="password-login" />
      </div>
      <button class="btn" type="submit">Login</button>
      <a class="register" href="#">Register</a>
    </form>

  </body>
</html>